.saf{
    font-size: 30px;
    font-family:Segoe UI;
}   

.main{
    display: flex;
    border-radius: 5px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

}
.head{
    color: white;
    display: flex;
    background-color: #0EE188FF;
    font-family: Segoe UI;
    border-radius: 5px;
    justify-content:space-between;
    flex-flow: row wrap
    
    
}
.img_nav{
    border-radius: 30px;
    padding: 5px;
    width: 100px;
}
.button_nav {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }

.def {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 10;
    margin-bottom: 20;
}
.alert{
    background-color: red; 
    border: solid;
    border-color: green;
    color: white;
    padding: 80px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    border-radius: 1000px;

}
.map{
    border: solid;
    border-color: green;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    overflow: hidden;
}
.menu{
    display: flex;
    border-radius: 5px;
    background-color: #404040;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

}
.menu_button{
    background-color:#404040; 
    border:none;
    padding: 4px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 20px;

}
.text{
    z-index: 1;
    font-family: 'Helvetica';
}


